<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-md-6 offset-md-3">
            <!-- here we are handling errors through bootstrap validation , so we just put 'required' as a basic browser validation 
            everywhere in input , but then the form itself we are doing 'novalidate'(which negates the effect of 'required' altogether , but we then add bootstarp to handle the errors) , so that bootstrap can take over instead of the browser validation -->

            <!-- enctype="multipart/form-data" is to deal with uploading file data like images-->

            <form class="validated-form" action="/campgrounds" method="POST" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Looks Good!!!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">Looks Good!!!</div>
                </div>


                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">Looks Good!!!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">Looks Good!!!</div>
                </div>
                <div class="mb-3">
                    <label for="">Upload Image(s)</label>
                    <div class="form-file custom-file">
                        <input type="file" class="form-file-input" id="image" name="image" multiple>
                        <label for="image" class="form-file-label">
                            <span class="form-file-text custom-file-label">Choose image(s)...</span>
                            <span class="form-file-button">Button</span>
                        </label>
                    </div>
                </div>
                <!-- can upload multiple files/images -->

                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>